

<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>


  <p>info <a target="_blank" href="https://github.com/firehosestudent/splurty.git">Jonny</a> and more info
  </p>

  <br />

  <p>
    more info
  </p>

  <p>
    more info - start <a target="_blank" href="https://github.com/firehosestudent/splurty.git">here</a>
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jonnyp.png', class: "img-fluid" %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
    
      <h2 class="text-center">jonny</h2>
      <br />
      <p>
        more info <a href="https://github.com/firehosestudent/splurty.git">here</a>
      </p>

    </div>
  </div>


  <br class="clear" />

  <div class="row">
  
    <div class="col-12 col-sm-4" style="padding-top: 30px;">
      <%= image_tag 'jonnyp.png', class: 'img-fluid' %>

      
    </div>


    <div class="col-12 col-sm-7 offset-sm-1">

      <h2 class="text-center">info</h2>
      <br />
      <p>more info <a target="_blank" href="https://github.com/firehosestudent/splurty.git">here</a> and more info</p> 
      
    </div>


  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />







</div>